doctype
html(ng-app="testApp")
  head
    title #{title} Compilador
    link(rel='stylesheet', href='/css/style.css')
    
  body(ng-controller="testController")
  .container
    div
      button Probar
      br
      input(type="text")
    textarea

  

  script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js")
  script(type='text/javascript' src='js/script.js')

  